h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

body {
	background: #996633;
}

nav {
    background: #ff7722;
    border-bottom: 4px solid #998877;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;

}

main {
	margin: 90px auto;
	max-width: 1000px;
}

h2 {
	border-left: 25px solid #880000;
	border-bottom: 2px solid #880000;
	padding-left: 10px;
}


.map {
	text-align: center;
}
.character {
	border: 2px solid #000000;
	padding-left: 15px;
	margin-top: 20px;
	background-image: url(../images/back1.jpg);
}


footer p {
	text-align: center;
	margin-bottom: 100px;
}