h1 {
	text-align: center;
}

a {
	text-decoration: none;
}


a:hover {
	color: #000000;
	text-decoration: underline;
}

body {
	background: #e6ffe9;
}

nav {
    background: #e6ffe9;
    border: 2px solid #6633cc;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;

}


main {
	margin: 0px auto;
	max-width: 1000px;
}

h2 {
	margin-top: 40px;
	border-left: 25px solid #6633cc;
	border-bottom: 2px solid #6633cc;
	padding-left: 10px;
}

table {
	width: 1000px;
	border-collapse: collapse;
}
caption {
	margin-bottom: 10px;
}

th,td {
	border: 2px solid #000000;
	padding: 10px;
}

th {
	background: #6633cc;
	color: #ffffff;
}
td {
	background: #f4f0e6;
}
.center {
	text-align: center;
}


footer p {
	text-align: center;
}

.margin {
	margin-bottom: 100px;
}